<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 450px; background-image: url(assets/img/icons/common/nasdaq.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask" style="background: linear-gradient(to right,#673400, #834200, #964b00, #a4550a, #b6551d); opacity: 0.6;"></span>
  <!-- Header container -->
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Cash</h5>
                  <span class="h2 font-weight-bold mb-0">{{cash}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <a href="bonus"><p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span>
                <span class="text-nowrap">Get 1 lac extra cash</span>
              </p></a>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Dark table -->
    <div class="row mt-5">
      <div class="col-xl-6">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">All Companies</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Company Name</th>
                  <th scope="col">Price</th>
                  <!-- <th scope="col">Change</th> -->
                  <th scope="col">Code</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let company of companies">
                  <th scope="row">
                    <div class="media align-items-center">
                      <!-- <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                      </a> -->
                      <div class="media-body">
                        <span class="mb-0 text-sm">{{company.name}}</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    {{ company.current_market_price | currency:'INR'}}
                  </td>
                  <!-- <td>
                    {{company.change}}
                  </td> -->
                  <td>
                    {{company.code}}
                  </td>
                  <td class="text-right">
                      <button (click)="bid(company)" class="btn btn-primary">Buy</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer shadow py-4">
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Recent News</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Headlines</th>
                  <!-- <th scope="col">Price</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let n of news">
                  <td>
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm"><strong>{{n.title}}</strong> <br> {{n.content}}</span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer shadow py-4">
          </div>
        </div>
      </div>
    </div>
    
  </div>
  